body{
    background-color: rgb(198, 201, 190);
    font-family: sans-serif;
}
h1{
    color:rgb(68, 70, 70);
    font: size 50px;
}
h2{
    color:rgb(75,70,70);
    font-size: 30px;
    
}

p{
    margin: 25px 25px 25px 25px;
    break-after: 0px;
}
h3{
   font-size: 20b;
}
#jacksonville{
    color:rgb(156, 113, 4)
}
#newYorkJ{
    color:rgb(40, 63, 0)
}
#miami{
    color:rgb(6, 179, 170)
}
#atlanta{
    color:darkred
}
#cincinnati{
    color:rgb(184, 49, 0)
}
#philadelphia{
    color:green
}
#detroit{
    color:rgb(78, 78, 243)
}
#carolina{
    color:rgb(5, 122, 168)
}
#denver{
    color:rgb(1, 1, 54)
}
#dallas{
    color:blue
}
.why{
    color:white;
    background-color: rgb(63, 63, 63);
}