body{
    background-color: lightcyan;
    font-family: sans-serif;
}
h1{
    color:rgb(68, 70, 70);
    font: size 50px;
}
h2{
    color:rgb(75,70,70);
    font-size: 30px;
    
}

p{
    margin: 25px 25px 25px 25px;
    break-after: 0px;
}
h3{
   font-size: 20b;
}
